body {
    background-color: #ffffff; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; 
}

.book-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* We removed the box-shadow from #flipbook so the empty space is invisible */
#flipbook {
    transition: margin-left 0.4s ease-in-out;
}

#flipbook .page {
    background-color: white;
    /* This adds the soft, small shadow under the visible pages only */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}
