html, body {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    background-color: transparent; 
    overflow: hidden; 
}

.book-wrapper {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

#flipbook {
    position: relative;
}

#flipbook .page {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
