$(document).ready(function () {

    var $flipbook = $('#flipbook');

    // Initialize Turn.js
    $flipbook.turn({
        width: 932,
        height: 1024,

        display: 'double',
        pages: 7,
        page: 1,

        autoCenter: true,
        animatedAutoCenter: true,

        duration: 600,
        elevation: 10,
        gradients: true,

        acceleration: true,
        hover: true,
        smartFlip: true,
        swipe: true,

        responsive: true,
        autoScaleContent: true,

        turnCorners: 'l,r'
    });

    // Next arrow
    $('.ui-arrow-next-page').on('click', function (e) {
        e.preventDefault();
        $flipbook.turn('next');
    });

    // Previous arrow
    $('.ui-arrow-previous-page').on('click', function (e) {
        e.preventDefault();
        $flipbook.turn('previous');
    });

    // When the back cover is reached
    var restartTimer;

    $flipbook.on('turned', function (event, page) {

        clearTimeout(restartTimer);

        if (page === 7) {

            // Stay on the back cover for 2 seconds
            restartTimer = setTimeout(function () {
                $flipbook.turn('page', 1);
            }, 2000);
        }
    });

});
